@import '../styles/skeletor/sass/skeletor.core';

.header {
  display: grid;

  @include min-width(breakpoint(lg)) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: spacing(4x);
    grid-auto-flow: dense;
    grid-template-areas:
      'heading heading heading heading heading heading heading heading heading meta meta meta'
      'lede    lede    lede    lede    lede    lede    lede    lede    lede    meta meta meta';
    h1 {
      grid-area: heading;
    }
    ul {
      grid-area: meta;
    }
    p {
      grid-area: lede;
    }
  }
}

.hero {
  @include property-x(margin, (spacing(3x) * -1));

  @include min-width(breakpoint(md)) {
    margin-top: spacing(10x) * -1;
    margin-left: 0;
    margin-right: spacing(1x) * -6;
  }
}

.main {
  display: grid;
  &__content {
    min-width: 0;
  }
  @include min-width(breakpoint(lg)) {
    grid-template-columns: 244px 1fr;
    column-gap: spacing(8x);
  }
  @include min-width(breakpoint(xl)) {
    column-gap: spacing(12x);
  }
}

.toc {
  & > div {
    position: sticky;
    top: 0;
  }

  li > ul {
    padding-left: spacing(2x);
  }

  a {
    margin-bottom: 6px;
    padding-left: 16px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      top: 6px;
      width: 6px;
      height: 6px;
      color: color(silver);
      border: 1px solid currentColor;
      background-color: transparent;
      transition: all 200ms ease;
      border-radius: 50%;
    }
  }

  :global {
    .is-active::before {
      // transform: scale(1.5);
      // border-color: color(blue-ribbon);
      color: color(blue-ribbon);
      background-color: currentColor;
    }
  }
}
