html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--font-default, system-ui);
  background-color: var(--theme-background, white);
  color: var(--theme-foreground, #101010);
}
