.wysiwyg p {
  line-height: 1.5;
}

.wysiwyg p.p--small {
  font-size: 0.75rem;
}

.wysiwyg a {
  color: var(--theme-accent);
  padding: 0;
  text-decoration: none;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 0.4em),
    var(--theme-accent-low-opacity) calc(50% - 0.4em),
    var(--theme-accent-low-opacity) 100%
  );
  transition-property: background-position, padding, color;
  transition-duration: 120ms;
  transition-timing-function: ease-in-out;
  background-size: 100% 200%;
  background-position: 0 0;
}

.wysiwyg a:hover {
  padding: 0.1em 0;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 0.4em),
    var(--theme-accent) calc(50% - 0.4em),
    var(--theme-accent) 100%
  );
  color: var(--theme-background);
  background-position: 0 100%;
}

.wysiwyg hr {
  color: var(--theme-foreground);
  opacity: 0.25;
  width: 100%;
  margin: 3rem 0;
  border: none;
  background-color: currentColor;
  height: 1px;
}

.wysiwyg hr.hr--accent {
  color: var(--theme-accent);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .wysiwyg p {
    font-size: 1.125rem;
  }

  .wysiwyg p.p--small {
    font-size: 0.875rem;
  }

  .wysiwyg hr {
    margin: 4rem 0;
  }
}
