@import '../styles/skeletor/sass/skeletor.core';

.grid {
  display: grid;
  column-gap: spacing(3x);
  row-gap: spacing(4x);

  @include min-width(breakpoint(md)) {
    column-gap: spacing(4x);
  }
  @include min-width(breakpoint(lg)) {
    grid-template-columns: repeat(12, 1fr);

    &__bio {
      grid-column: 1 / 5;
    }
    &__skills {
      grid-column: 5 / -1;
    }
  }
}

.skills {
  display: grid;
  column-gap: spacing(3x);
  row-gap: spacing(4x);
  grid-template-columns: repeat(2, 1fr);

  @include min-width(breakpoint(md)) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: spacing(4x);
  }
}
