.section {
  padding: var(--space-5);
  box-sizing: content-box;
  max-width: 800px;
}

.skills,
.profiles {
  --content-columns: 2;
  --content-gap: 2rem;

  display: grid;
  grid-template-columns: repeat(var(--content-columns), 1fr);
  grid-gap: var(--content-gap);
}

.profiles {
  padding: 0;
  list-style: none;
}

.profiles li {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .skills,
  .profiles {
    --content-columns: 3;
  }
}
