.divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--theme-accent);
  margin: 0 auto;
}

.margin {
  margin-top: var(--space-10);
  margin-bottom: var(--space-10);
}

.maxWidth {
  max-width: var(--max-content);
}

.incognito {
  background-color: currentColor;
}
