.footer {
  padding: var(--space-5) 0;
  background-color: var(--theme-background-2);
}

.links {
  margin: var(--space-2) auto 0;
  text-align: center;
}

.links li {
  /* balance out the padding dangle */
  display: inline-block;
  margin: 0 var(--space) 0 calc(0.5rem + var(--space));
}

.links li a {
  color: var(--theme-foreground-2);
  text-decoration: none;
  font-size: 0.75rem;
  transition: color 120ms ease;
  position: relative;
  padding-right: 0.5rem;
  text-transform: uppercase;
}

.links li a span[aria-hidden] {
  opacity: 0;
  display: inline-block;
  transition: all 120ms ease;
}

.links li a:hover {
  color: var(--theme-accent);
}

.links li a:hover span[aria-hidden] {
  opacity: 1;
  transform: translateX(0.5rem);
}
