html {
  box-sizing: border-box;
  font-size: ((16 / $REM_BASE) * 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: to-rem(14);
  font-family: var(--font-body);
  line-height: var(--line-default);
  color: var(--color-black);
}
