/* Headings
----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure,
pre {
  @include property-y(margin, 1rem);
}

/* Headings
----------------------------------*/

@mixin typebeast(
  $size,
  $line: null,
  $weight: null,
  $letter: null,
  $family: null
) {
  font-family: $family;
  @if $size {
    font-size: to-rem($size);
  }
  @if $line {
    line-height: ($line / $size);
  }
  font-weight: $weight;
  letter-spacing: $letter;
}

/* Headings
----------------------------------*/

@mixin type-m-h1--xxl(
  $size: 42,
  $line: 46.2,
  $weight: bold,
  $letter: -0.03125em
) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h1--xxl($size: 80) {
  @include typebeast($size);
}

.h1--xxl {
  @include type-m-h1--xxl;
}

@mixin type-m-h1--xl(
  $size: 36,
  $line: 39.6,
  $weight: bold,
  $letter: -0.03125em
) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h1--xl($size: 64) {
  @include typebeast($size);
}

.h1--xl {
  @include type-m-h1--xl;
}

@mixin type-m-h1($size: 32, $line: 35.2, $weight: bold, $letter: -0.03125em) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h1($size: 48) {
  @include typebeast($size);
}

.h1,
.wysiwyg h1 {
  @include type-m-h1;
}

@mixin type-m-h2($size: 28, $line: 30.8, $weight: bold, $letter: null) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h2($size: 32) {
  @include typebeast($size);
}

.h2,
.wysiwyg h2 {
  @include type-m-h2;
}

@mixin type-m-h3($size: 20, $line: 22, $weight: bold, $letter: null) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h3($size: 24) {
  @include typebeast($size);
}

.h3,
.wysiwyg h3 {
  @include type-m-h3;
}

@mixin type-m-h4($size: 16, $line: 19.2, $weight: bold, $letter: null) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h4($size: 20) {
  @include typebeast($size);
}

.h4,
.wysiwyg h4 {
  @include type-m-h4;
}

@mixin type-m-h5($size: 13, $line: 15.6, $weight: bold, $letter: null) {
  @include typebeast($size, $line, $weight, $letter, var(--font-heading));
}
@mixin type-d-h5($size: 16) {
  @include typebeast($size);
}

.h5,
.wysiwyg h5 {
  @include type-m-h5;
}

@mixin type-m-h6($size: 10, $line: 12, $weight: bold, $letter: null) {
  @include typebeast($size, $line, $weight, $letter, font-family(body));
}
@mixin type-d-h6($size: 12) {
  @include typebeast($size);
}

.h6,
.wysiwyg h6 {
  text-transform: uppercase;
  @include type-m-h6;
}

/* Paragraphs
----------------------------------*/

@mixin type-m-lede($size: 18, $line: 27) {
  @include typebeast($size, $line, $family: var(--font-body));
}
@mixin type-d-lede($size: 24) {
  @include typebeast($size);
}

.lede,
.wysiwyg.with-lede p:first-child {
  @include type-m-lede;
}

@mixin type-m-para($size: 16, $line: 27.2) {
  @include typebeast($size, $line, $family: var(--font-body));
}
@mixin type-d-para($size: 18) {
  @include typebeast($size);
}

.para,
.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg dl,
.wysiwyg blockquote,
.wysiwyg figcaption {
  @include type-m-para;
}

@mixin type-m-small($size: 14, $line: 23.8) {
  @include typebeast($size, $line, $family: var(--font-body));
}
@mixin type-d-small($size: 16) {
  @include typebeast($size);
}

.small,
.wysiwyg small {
  @include type-m-small;
}

@mixin type-m-caption($size: 10, $line: 15) {
  @include typebeast($size, $line, $family: var(--font-body));
}
@mixin type-d-caption($size: 12) {
  @include typebeast($size);
}

.caption,
.wysiwyg figcaption {
  @include type-m-caption;
}

/* Links & other inlines
----------------------------------*/

a,
.link {
  color: color(blue-ribbon);
  &:hover {
    color: color(denim);
  }
  &:active {
    color: color(midnight-blue);
  }
  &.stealth {
    text-decoration: none;
    color: inherit;
  }
  &.no-underline:not(:hover):not(:active):not(:focus) {
    text-decoration: none;
  }
}

pre,
code,
kbd {
  font-family: font-family(mono);
}

code {
  font-size: 0.9em;
  color: color(eucalyptus);
  background-color: color(panache);
  border-radius: rounded-corners(small);
  padding: 0.2em 0.3em 0.3em;
}

kbd {
  font-size: 0.9em;
  position: relative;
  border: 1px solid color(silver);
  color: color(tundora);
  background-color: color(alabaster);
  border-radius: rounded-corners(small);
  padding: 0.1em 0.3em 0.15em;
  box-shadow: 0 0.15em 0 0 color(silver);
}

/* Uhhh misc 
----------------------------------*/

figure,
blockquote {
  @include property-x(margin, 0);
}

/* Responsives
----------------------------------*/

@include min-width(breakpoint(md)) {
  .h1,
  .wysiwyg h1 {
    @include type-d-h1;
  }
  .h1--xl {
    @include type-d-h1--xl;
  }
  .h1--xxl {
    @include type-d-h1--xxl;
  }
  .h2,
  .wysiwyg h2 {
    @include type-d-h2;
  }
  .h3,
  .wysiwyg h3 {
    @include type-d-h3;
  }
  .h4,
  .wysiwyg h4 {
    @include type-d-h4;
  }
  .h4,
  .wysiwyg h4 {
    @include type-d-h4;
  }
  .h5,
  .wysiwyg h5 {
    @include type-d-h5;
  }
  .h6,
  .wysiwyg h6 {
    @include type-d-h6;
  }
  .lede,
  .wysiwyg.with-lede p:first-child {
    @include type-d-lede;
  }
  .para,
  .wysiwyg p,
  .wysiwyg ul,
  .wysiwyg ol,
  .wysiwyg dl,
  .wysiwyg blockquote {
    @include type-d-para;
  }
  .small,
  .wysiwyg small {
    @include type-d-small;
  }
  .caption,
  .wysiwyg figcaption {
    @include type-d-caption;
  }
}

/* WYSIWYG rhythm 
----------------------------------*/

.wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  blockquote,
  figure,
  pre {
    @include property-y(margin, spacing(2x));

    @include min-width(breakpoint(md)) {
      @include property-y(margin, spacing(3x));
    }
  }

  ul,
  ol {
    padding-left: 1em;

    li + li {
      margin-top: 0.5em;
    }
  }

  h1,
  h2 {
    margin-top: spacing(6x);

    @include min-width(breakpoint(md)) {
      margin-top: spacing(10x);
    }
  }
  h3,
  h4,
  h5,
  h6,
  pre {
    margin-top: spacing(4x);

    @include min-width(breakpoint(md)) {
      margin-top: spacing(6x);
    }
  }

  figure,
  & > img,
  blockquote,
  & > p > .gatsby-resp-image-wrapper {
    @include property-y(margin, spacing(6x));

    @include min-width(breakpoint(md)) {
      @include property-y(margin, spacing(8x));
    }
  }

  & > img {
    display: block;
    border: 1px solid color(silver);
  }

  .gatsby-resp-image-wrapper {
    border: 1px solid color(silver);
  }

  figure {
    & > * {
      margin: 0;
    }
    figcaption {
      padding-top: spacing(2x);
      color: color(abbey);
    }

    @include min-width(breakpoint(md)) {
      figcaption {
        padding-top: spacing(3x);
      }
    }
  }
}

/* WYSIWYG post 
----------------------------------*/

.wysiwyg--post {
  & > * {
    max-width: 720px;
  }
  & > pre,
  & > figure,
  & > iframe {
    max-width: none;
  }
}
